<div class="header">
  <div class="container">
    <div class="header__content">
      <ul class="header__links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About me</a></li>
        <li><a href="#">My work</a></li>
      </ul>
    </div>
  </div>
</div>