<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
  {{> ../common/header }}
<div class="main">
  
  <div class="personal-info">
    <div class="container">
     <div class="personal-info__content">
        <div class="personal-info__text">
        <h2>Jack Jackson</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quisquam inventore! Officia ratione ipsam deserunt fuga aut in dolor eum quo. Maiores obcaecati alias provident reiciendis esse ipsa error libero.</p>
     <div class="personal-info__link">
        <a href="#">Learn more</a>
     </div>
      </div>
       <div class="personal-info__img">
        <img src="images/girl.png" alt="">
      </div>
     </div>
    </div>
  </div>

  <div class="cards">
    <div class="container">
      <div class="cards__content">
        <h3>What I did</h3>
       <div class="cards__blocks">
          <div class="cards__block">
          <div class="cards__block-img">
            <img src="images/project.png" alt="">
          </div>
          <div class="cards__block-info">
            <h4>Epic Project</h4>
             <p>Awesome project i did in 2018. I was big experince for me</p>        
          </div>
        </div>
         <div class="cards__block">
          <div class="cards__block-img">
            <img src="images/laptop.png" alt="">
          </div>
          <div class="cards__block-info">
            <h4>Another work i did</h4>
            <p>Awesome project i did in 2018. I was big experince for me</p>         
          </div>
        </div>
         <div class="cards__block">
          <div class="cards__block-img">
            <img src="images/phone.png" alt="">
          </div>
          <div class="cards__block-info">
            <h4>Rebrand of this company</h4>
             <p>Awesome project i did in 2018. I was big experince for me</p>        
          </div>
        </div>
       </div>
       
      </div>
    </div>
  </div>
<footer class="footer">
  <div class="container">
    <span>© Jack Jackson 2020</span>
  </div>
</footer>

</div>

</body>
</html>
